@import "../../style/theme.scss";

.header-wrapper {
  width: 100%;
  height: 60px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header-logo {
  width: 140px;
  height: 60px;
  background: url("../../assets/blog-logo.png") no-repeat center;
  background-size: contain;
}

.header-link {
  color: #f1f1f1;
  display: flex;
  align-items: center;
}

.link-item {
  padding: 10px;
  color: $font-main-color;
  opacity: .7;
  position: relative;
  &.active {
    color: #fff;
    opacity: 1;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      background-color: #e91e63;
      height: 1.5px;
      width: 50%;
    }
  }
}
